## Get Data

In [ ]:
import pandas as pd


btc_path = r"data\BTC.csv"
eth_path = r"data\ETH.csv"

btc = pd.read_csv(btc_path)
eth = pd.read_csv(eth_path)
btc = btc.drop(columns=["Unnamed: 0"])
eth = eth.drop(columns=["Unnamed: 0"])
print("BTC head:")
print(btc.head())

print("\nETH head:")
print(eth.head())

BTC head:
   Unnamed: 0  BTC.USD.Open  BTC.USD.High   BTC.USD.Low  BTC.USD.Close  \
0  2024-11-01  70216.898438  71559.015625  68779.703125   69482.468750
1  2024-11-02  69486.023438  69867.351562  69033.718750   69289.273438
2  2024-11-03  69296.382812  69361.656250  67482.523438   68741.117188
3  2024-11-04  68742.132812  69433.179688  66803.648438   67811.507812
4  2024-11-05  67811.171875  70522.789062  67458.867188   69359.562500

   BTC.USD.Volume  BTC.USD.Adjusted        date day_of_week  weekend
0     49989795365      69482.468750  2024-11-01         Fri        0
1     18184612091      69289.273438  2024-11-02         Sat        1
2     34868307655      68741.117188  2024-11-03         Sun        1
3     41184819348      67811.507812  2024-11-04         Mon        0
4     46046889204      69359.562500  2024-11-05         Tue        0

ETH head:
   Unnamed: 0  ETH.USD.Open  ETH.USD.High  ETH.USD.Low  ETH.USD.Close  \
0  2024-11-01   2515.870361   2583.777100  2467.819336    2511.885498
1  2024-11-02   2512.208252   2522.360596  2471.955566    2491.068604
2  2024-11-03   2491.094482   2495.436523  2411.398438    2456.425293
3  2024-11-04   2456.095215   2488.350342  2359.578125    2397.026367
4  2024-11-05   2397.036377   2478.618896  2380.601318    2422.650635

   ETH.USD.Volume  ETH.USD.Adjusted        date day_of_week  weekend
0     20215438328       2511.885498  2024-11-01         Fri        0
1      9639457439       2491.068604  2024-11-02         Sat        1
2     15667779706       2456.425293  2024-11-03         Sun        1
3     17110200696       2397.026367  2024-11-04         Mon        0
4     17894057485       2422.650635  2024-11-05         Tue        0

### Change datatype

In [17]:
btc["date"] = pd.to_datetime(btc["date"])
eth["date"] = pd.to_datetime(eth["date"])

In [18]:
btc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        366 non-null    object
 1   BTC.USD.Open      366 non-null    float64
 2   BTC.USD.High      366 non-null    float64
 3   BTC.USD.Low       366 non-null    float64
 4   BTC.USD.Close     366 non-null    float64
 5   BTC.USD.Volume    366 non-null    int64
 6   BTC.USD.Adjusted  366 non-null    float64
 7   date              366 non-null    datetime64[ns]
 8   day_of_week       366 non-null    object
 9   weekend           366 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(2), object(2)
memory usage: 28.7+ KB

## Technical Indicators for BTC/ETH

**This project constructs a comprehensive set of numerical features for BTC and ETH to support short-term price movement prediction. The features are grouped into:**
1. Price & Momentum 
2. Technical Indicators
3. Volatility & Risk
4. Volume-Based Features
5. Time-Based Features

# Price & Momentum Features

These features capture short-term market movement and momentum strength.

daily_return
Daily percentage change in the closing price.

log_return
Logarithmic daily return, commonly used in financial time series.

SMA(5), SMA(10), SMA(20)
Simple Moving Averages over 5, 10, and 20 days to represent short- and medium-term trends.

EMA(12), EMA(26)
Exponential Moving Averages with faster response to new price changes.

In [36]:
import numpy as np


btc['daily_return'] = btc['BTC.USD.Close'].pct_change()
btc['log_return'] = np.log(btc['BTC.USD.Close'] / btc['BTC.USD.Close'].shift(1))
btc['SMA_5'] = btc['BTC.USD.Close'].rolling(window=5).mean()
btc['SMA_10'] = btc['BTC.USD.Close'].rolling(window=10).mean()
btc['SMA_20'] = btc['BTC.USD.Close'].rolling(window=20).mean()
btc['EMA_12'] = btc['BTC.USD.Close'].ewm(span=12, adjust=False).mean()

eth['daily_return'] = eth['ETH.USD.Close'].pct_change()
eth['log_return'] = np.log(eth['ETH.USD.Close'] / eth['ETH.USD.Close'].shift(1))
eth['SMA_5'] = eth['ETH.USD.Close'].rolling(window=5).mean()
eth['SMA_10'] = eth['ETH.USD.Close'].rolling(window=10).mean()
eth['SMA_20'] = eth['ETH.USD.Close'].rolling(window=20).mean()
eth['EMA_12'] = eth['ETH.USD.Close'].ewm(span=12, adjust=False).mean()


btc

,Unnamed: 0,BTC.USD.Open,BTC.USD.High,BTC.USD.Low,BTC.USD.Close,BTC.USD.Volume,BTC.USD.Adjusted,date,day_of_week,weekend,daily_return,log_return,SMA_5,SMA_10,SMA_20,EMA_12
0,2024-11-01,70216.898438,71559.015625,68779.703125,69482.468750,49989795365,69482.468750,2024-11-01,Fri,0,NaN,NaN,NaN,NaN,NaN,69482.468750
1,2024-11-02,69486.023438,69867.351562,69033.718750,69289.273438,18184612091,69289.273438,2024-11-02,Sat,1,-0.002780,-0.002784,NaN,NaN,NaN,69452.746394
2,2024-11-03,69296.382812,69361.656250,67482.523438,68741.117188,34868307655,68741.117188,2024-11-03,Sun,1,-0.007911,-0.007943,NaN,NaN,NaN,69343.264978
3,2024-11-04,68742.132812,69433.179688,66803.648438,67811.507812,41184819348,67811.507812,2024-11-04,Mon,0,-0.013523,-0.013616,NaN,NaN,NaN,69107.610029
4,2024-11-05,67811.171875,70522.789062,67458.867188,69359.562500,46046889204,69359.562500,2024-11-05,Tue,0,0.022829,0.022572,68936.785937,NaN,NaN,69146.371948
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,2025-10-28,114129.085938,116078.984375,112291.679688,112956.164062,64528066504,112956.164062,2025-10-28,Tue,0,-0.010193,-0.010245,112844.717188,110971.442969,111581.851562,111934.790376
362,2025-10-29,112921.328125,113642.726562,109368.718750,110055.304688,62192043469,110055.304688,2025-10-29,Wed,0,-0.025681,-0.026017,112648.993750,111110.302344,110999.337500,111645.638732
363,2025-10-30,110059.195312,111612.351562,106376.687500,108305.546875,69673964814,108305.546875,2025-10-30,Thu,0,-0.015899,-0.016027,111981.757812,110881.964063,110753.896484,111131.778446
364,2025-10-31,108304.414062,111031.820312,108288.273438,109556.164062,60090359560,109556.164062,2025-10-31,Fri,0,0.011547,0.011481,110998.501562,110989.891406,110691.310547,110889.376233
365,2025-11-01,109558.625000,110574.898438,109372.953125,110064.015625,25871668762,110064.015625,2025-11-01,Sat,1,0.004636,0.004625,110187.439062,111227.434375,110436.023047,110762.397678

# Technical Indicators

Indicators widely used in financial modeling to measure trend strength and potential reversal points.

RSI(14)
The 14-day Relative Strength Index, reflecting market momentum and overbought/oversold conditions.

MACD_line
The difference between the 12-day and 26-day EMAs.

MACD_signal
The 9-day EMA of the MACD line.

MACD_hist
MACD histogram, defined as MACD_line minus MACD_signal, highlighting trend acceleration.

In [37]:
import numpy as np
import pandas as pd

def add_technical_indicators(df: pd.DataFrame, close_col: str) -> pd.DataFrame:
   
    # Use the specified close price column
    close = df[close_col]

    # ===== 1) RSI(14) =====
    # Price change between consecutive days
    delta = close.diff()

    # Positive changes (gains) and negative changes (losses)
    gain = delta.clip(lower=0)
    loss = -delta.clip(upper=0)

    # Use EMA (Wilder's method) to smooth gains and losses over 14 days
    window = 14
    avg_gain = gain.ewm(alpha=1/window, min_periods=window, adjust=False).mean()
    avg_loss = loss.ewm(alpha=1/window, min_periods=window, adjust=False).mean()

    # Avoid division by zero by replacing 0 loss with NaN
    rs = avg_gain / avg_loss.replace(0, np.nan)

    # RSI scaled to 0–100
    df["RSI_14"] = 100 - (100 / (1 + rs))

    # ===== 2) MACD (12, 26, 9) =====
    # Fast and slow EMAs
    ema_12 = close.ewm(span=12, adjust=False).mean()
    ema_26 = close.ewm(span=26, adjust=False).mean()

    # MACD line: difference between short-term and long-term EMAs
    df["MACD_line"] = ema_12 - ema_26

    # Signal line: 9-day EMA of the MACD line
    df["MACD_signal"] = df["MACD_line"].ewm(span=9, adjust=False).mean()

    # MACD histogram: MACD line minus signal line
    df["MACD_hist"] = df["MACD_line"] - df["MACD_signal"]

    return df

In [39]:
btc = add_technical_indicators(btc, close_col="BTC.USD.Close")
eth = add_technical_indicators(eth, close_col="ETH.USD.Close")


btc

,Unnamed: 0,BTC.USD.Open,BTC.USD.High,BTC.USD.Low,BTC.USD.Close,BTC.USD.Volume,BTC.USD.Adjusted,date,day_of_week,weekend,daily_return,log_return,SMA_5,SMA_10,SMA_20,EMA_12,RSI_14,MACD_line,MACD_signal,MACD_hist
0,2024-11-01,70216.898438,71559.015625,68779.703125,69482.468750,49989795365,69482.468750,2024-11-01,Fri,0,NaN,NaN,NaN,NaN,NaN,69482.468750,NaN,0.000000,0.000000,0.000000
1,2024-11-02,69486.023438,69867.351562,69033.718750,69289.273438,18184612091,69289.273438,2024-11-02,Sat,1,-0.002780,-0.002784,NaN,NaN,NaN,69452.746394,NaN,-15.411592,-3.082318,-12.329274
2,2024-11-03,69296.382812,69361.656250,67482.523438,68741.117188,34868307655,68741.117188,2024-11-03,Sun,1,-0.007911,-0.007943,NaN,NaN,NaN,69343.264978,NaN,-71.038134,-16.673482,-54.364653
3,2024-11-04,68742.132812,69433.179688,66803.648438,67811.507812,41184819348,67811.507812,2024-11-04,Mon,0,-0.013523,-0.013616,NaN,NaN,NaN,69107.610029,NaN,-187.967505,-50.932286,-137.035219
4,2024-11-05,67811.171875,70522.789062,67458.867188,69359.562500,46046889204,69359.562500,2024-11-05,Tue,0,0.022829,0.022572,68936.785937,NaN,NaN,69146.371948,NaN,-153.945214,-71.534872,-82.410342
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,2025-10-28,114129.085938,116078.984375,112291.679688,112956.164062,64528066504,112956.164062,2025-10-28,Tue,0,-0.010193,-0.010245,112844.717188,110971.442969,111581.851562,111934.790376,50.501681,-748.503256,-1268.393634,519.890378
362,2025-10-29,112921.328125,113642.726562,109368.718750,110055.304688,62192043469,110055.304688,2025-10-29,Wed,0,-0.025681,-0.026017,112648.993750,111110.302344,110999.337500,111645.638732,44.649810,-842.989053,-1183.312718,340.323665
363,2025-10-30,110059.195312,111612.351562,106376.687500,108305.546875,69673964814,108305.546875,2025-10-30,Thu,0,-0.015899,-0.016027,111981.757812,110881.964063,110753.896484,111131.778446,41.524258,-1046.991493,-1156.048473,109.056980
364,2025-10-31,108304.414062,111031.820312,108288.273438,109556.164062,60090359560,109556.164062,2025-10-31,Fri,0,0.011547,0.011481,110998.501562,110989.891406,110691.310547,110889.376233,44.513921,-1095.126604,-1143.864099,48.737495
365,2025-11-01,109558.625000,110574.898438,109372.953125,110064.015625,25871668762,110064.015625,2025-11-01,Sat,1,0.004636,0.004625,110187.439062,111227.434375,110436.023047,110762.397678,45.727378,-1079.846847,-1131.060649,51.213801

# Volatility & Risk Features

These features measure the magnitude of market fluctuations.

volatility_7d
7-day rolling standard deviation of daily returns.

volatility_21d
21-day rolling standard deviation of daily returns.

In [ ]:
import pandas as pd

# Volatility & Risk Features
# These features measure how much the market fluctuates over time.

# 7-day rolling volatility:
# For each day, compute the standard deviation of daily returns over the past 7 days.
btc["volatility_7d"] = btc["daily_return"].rolling(window=7).std()
eth["volatility_7d"] = eth["daily_return"].rolling(window=7).std()
# 21-day rolling volatility:
# For each day, compute the standard deviation of daily returns over the past 21 days.
btc["volatility_21d"] = btc["daily_return"].rolling(window=21).std()
eth["volatility_21d"] = eth["daily_return"].rolling(window=21).std()

btc.head()

,Unnamed: 0,BTC.USD.Open,BTC.USD.High,BTC.USD.Low,BTC.USD.Close,BTC.USD.Volume,BTC.USD.Adjusted,date,day_of_week,weekend,...,SMA_5,SMA_10,SMA_20,EMA_12,RSI_14,MACD_line,MACD_signal,MACD_hist,volatility_7d,volatility_21d
0,2024-11-01,70216.898438,71559.015625,68779.703125,69482.468750,49989795365,69482.468750,2024-11-01,Fri,0,...,NaN,NaN,NaN,69482.468750,NaN,0.000000,0.000000,0.000000,NaN,NaN
1,2024-11-02,69486.023438,69867.351562,69033.718750,69289.273438,18184612091,69289.273438,2024-11-02,Sat,1,...,NaN,NaN,NaN,69452.746394,NaN,-15.411592,-3.082318,-12.329274,NaN,NaN
2,2024-11-03,69296.382812,69361.656250,67482.523438,68741.117188,34868307655,68741.117188,2024-11-03,Sun,1,...,NaN,NaN,NaN,69343.264978,NaN,-71.038134,-16.673482,-54.364653,NaN,NaN
3,2024-11-04,68742.132812,69433.179688,66803.648438,67811.507812,41184819348,67811.507812,2024-11-04,Mon,0,...,NaN,NaN,NaN,69107.610029,NaN,-187.967505,-50.932286,-137.035219,NaN,NaN
4,2024-11-05,67811.171875,70522.789062,67458.867188,69359.562500,46046889204,69359.562500,2024-11-05,Tue,0,...,68936.785937,NaN,NaN,69146.371948,NaN,-153.945214,-71.534872,-82.410342,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,2025-10-28,114129.085938,116078.984375,112291.679688,112956.164062,64528066504,112956.164062,2025-10-28,Tue,0,...,112844.717188,110971.442969,111581.851562,111934.790376,50.501681,-748.503256,-1268.393634,519.890378,0.013921,0.023426
362,2025-10-29,112921.328125,113642.726562,109368.718750,110055.304688,62192043469,110055.304688,2025-10-29,Wed,0,...,112648.993750,111110.302344,110999.337500,111645.638732,44.649810,-842.989053,-1183.312718,340.323665,0.017970,0.023500
363,2025-10-30,110059.195312,111612.351562,106376.687500,108305.546875,69673964814,108305.546875,2025-10-30,Thu,0,...,111981.757812,110881.964063,110753.896484,111131.778446,41.524258,-1046.991493,-1156.048473,109.056980,0.017039,0.023550
364,2025-10-31,108304.414062,111031.820312,108288.273438,109556.164062,60090359560,109556.164062,2025-10-31,Fri,0,...,110998.501562,110989.891406,110691.310547,110889.376233,44.513921,-1095.126604,-1143.864099,48.737495,0.017367,0.018575
365,2025-11-01,109558.625000,110574.898438,109372.953125,110064.015625,25871668762,110064.015625,2025-11-01,Sat,1,...,110187.439062,111227.434375,110436.023047,110762.397678,45.727378,-1079.846847,-1131.060649,51.213801,0.017311,0.018043

# Volume-Based Features

These features capture changes in trading activity and market participation.

volume_zscore
Standardized trading volume to detect abnormal spikes.

volume_change
Day-to-day percentage change in volume.

In [44]:
# Volume-Based Features

# 21-day rolling mean and std of volume for z-score
# This standardizes today's volume relative to the past month.
window_vol = 21

btc_rolling_mean_vol = (
    btc["BTC.USD.Volume"]
    .rolling(window=window_vol, min_periods=window_vol)
    .mean()
)
btc_rolling_std_vol = (
    btc["BTC.USD.Volume"]
    .rolling(window=window_vol, min_periods=window_vol)
    .std()
)

# volume_zscore: how many standard deviations today's volume is away from recent average
btc["volume_zscore"] = (btc["BTC.USD.Volume"] - btc_rolling_mean_vol) / btc_rolling_std_vol

# volume_change: day-to-day percentage change in volume
btc["volume_change"] = btc["BTC.USD.Volume"].pct_change()




# Volume-Based Features -ETH
eth_rolling_mean_vol = (
    eth["ETH.USD.Volume"]
    .rolling(window=window_vol, min_periods=window_vol)
    .mean()
)

eth_rolling_std_vol = (
    eth["ETH.USD.Volume"]
    .rolling(window=window_vol, min_periods=window_vol)
    .std()
)

eth["volume_zscore"] = (eth["ETH.USD.Volume"] - eth_rolling_mean_vol) / eth_rolling_std_vol
eth["volume_change"] = eth["ETH.USD.Volume"].pct_change()


btc.head(25)

,Unnamed: 0,BTC.USD.Open,BTC.USD.High,BTC.USD.Low,BTC.USD.Close,BTC.USD.Volume,BTC.USD.Adjusted,date,day_of_week,weekend,...,SMA_20,EMA_12,RSI_14,MACD_line,MACD_signal,MACD_hist,volatility_7d,volatility_21d,volume_zscore,volume_change
0,2024-11-01,70216.898438,71559.015625,68779.703125,69482.468750,49989795365,69482.468750,2024-11-01,Fri,0,...,NaN,69482.468750,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
1,2024-11-02,69486.023438,69867.351562,69033.718750,69289.273438,18184612091,69289.273438,2024-11-02,Sat,1,...,NaN,69452.746394,NaN,-15.411592,-3.082318,-12.329274,NaN,NaN,NaN,-0.636234
2,2024-11-03,69296.382812,69361.656250,67482.523438,68741.117188,34868307655,68741.117188,2024-11-03,Sun,1,...,NaN,69343.264978,NaN,-71.038134,-16.673482,-54.364653,NaN,NaN,NaN,0.917462
3,2024-11-04,68742.132812,69433.179688,66803.648438,67811.507812,41184819348,67811.507812,2024-11-04,Mon,0,...,NaN,69107.610029,NaN,-187.967505,-50.932286,-137.035219,NaN,NaN,NaN,0.181153
4,2024-11-05,67811.171875,70522.789062,67458.867188,69359.562500,46046889204,69359.562500,2024-11-05,Tue,0,...,NaN,69146.371948,NaN,-153.945214,-71.534872,-82.410342,NaN,NaN,NaN,0.118055
5,2024-11-06,69358.500000,76460.156250,69322.031250,75639.078125,118592653963,75639.078125,2024-11-06,Wed,0,...,NaN,70145.249821,NaN,375.394811,17.851065,357.543746,NaN,NaN,NaN,1.575476
6,2024-11-07,75637.085938,76943.117188,74480.421875,75904.859375,63467654989,75904.859375,2024-11-07,Thu,0,...,NaN,71031.343599,NaN,807.043820,175.689616,631.354205,NaN,NaN,NaN,-0.464826
7,2024-11-08,75902.835938,77252.750000,75648.742188,76545.476562,55176858003,76545.476562,2024-11-08,Fri,0,...,NaN,71879.671747,NaN,1187.136651,377.979023,809.157628,0.035577,NaN,NaN,-0.130630
8,2024-11-09,76556.187500,76932.765625,75773.789062,76778.867188,29009480361,76778.867188,2024-11-09,Sat,1,...,NaN,72633.394122,NaN,1490.019613,600.387141,889.632472,0.035173,NaN,NaN,-0.474246
9,2024-11-10,76775.546875,81474.421875,76565.429688,80474.187500,82570594495,80474.187500,2024-11-10,Sun,1,...,NaN,73839.670027,NaN,2005.124184,881.334550,1123.789635,0.035392,NaN,NaN,1.846331
10,2024-11-11,80471.414062,89604.500000,80283.250000,88701.484375,117966845037,88701.484375,2024-11-11,Mon,0,...,NaN,76126.103003,NaN,3042.154307,1313.498501,1728.655806,0.041794,NaN,NaN,0.428679
11,2024-11-12,88705.562500,89956.882812,85155.109375,87955.812500,133673285375,87955.812500,2024-11-12,Tue,0,...,NaN,77946.058311,NaN,3760.490073,1802.896815,1957.593257,0.045420,NaN,NaN,0.133143
12,2024-11-13,87929.968750,93434.351562,86256.929688,90584.164062,123559027869,90584.164062,2024-11-13,Wed,0,...,NaN,79890.382272,NaN,4490.103233,2340.338099,2149.765134,0.038379,NaN,NaN,-0.075664
13,2024-11-14,90574.882812,91765.218750,86682.812500,87250.429688,87616705248,87250.429688,2024-11-14,Thu,0,...,NaN,81022.697259,NaN,4744.629283,2821.196336,1923.432947,0.044907,NaN,NaN,-0.290892
14,2024-11-15,87284.179688,91868.742188,87124.898438,91066.007812,78243109518,91066.007812,2024-11-15,Fri,0,...,NaN,82567.821960,78.337552,5194.351033,3295.827275,1898.523758,0.045251,NaN,NaN,-0.106984
15,2024-11-16,91064.367188,91763.945312,90094.226562,90558.476562,44333192814,90558.476562,2024-11-16,Sat,1,...,NaN,83797.153437,76.644931,5447.015426,3726.064905,1720.950521,0.046088,NaN,NaN,-0.433392
16,2024-11-17,90558.460938,91433.039062,88741.664062,89845.851562,46350159305,89845.851562,2024-11-17,Sun,1,...,NaN,84727.722380,74.220032,5526.050031,4086.061930,1439.988101,0.046212,NaN,NaN,0.045496
17,2024-11-18,89843.718750,92596.789062,89393.593750,90542.640625,75535775084,90542.640625,2024-11-18,Mon,0,...,NaN,85622.325187,75.051193,5580.581114,4384.965767,1195.615347,0.026801,NaN,NaN,0.629677
18,2024-11-19,90536.812500,94002.867188,90426.984375,92343.789062,74521048295,92343.789062,2024-11-19,Tue,0,...,NaN,86656.396552,77.105940,5703.389888,4648.650591,1054.739296,0.026885,NaN,NaN,-0.013434
19,2024-11-20,92341.890625,94902.023438,91619.500000,94339.492188,71730956426,94339.492188,2024-11-20,Wed,0,...,81660.727344,87838.411265,79.154514,5893.813080,4897.683089,996.129991,0.025890,NaN,NaN,-0.037440
20,2024-11-21,94334.640625,99014.218750,94132.601562,98504.726562,106024505582,98504.726562,2024-11-21,Thu,0,...,83111.840234,89479.382849,82.644971,6308.108489,5179.768169,1128.340320,0.021181,NaN,1.037572,0.478086
21,2024-11-22,98496.429688,99655.500000,97222.664062,98997.664062,78473580551,98997.664062,2024-11-22,Fri,0,...,84597.259766,90943.733805,83.007600,6600.134281,5463.841391,1136.292890,0.018069,0.033622,0.173964,-0.259854
22,2024-11-23,99006.742188,99014.679688,97232.890625,97777.281250,44414644677,97777.281250,2024-11-23,Sat,1,...,86049.067969,91995.048797,78.627345,6656.361738,5702.345461,954.016277,0.019310,0.033972,-0.942472,-0.434018
23,2024-11-24,97778.093750,98647.179688,95788.078125,98013.820312,51712020623,98013.820312,2024-11-24,Sun,1,...,87559.183594,92921.013645,78.860194,6643.427827,5890.561934,752.865893,0.017963,0.033666,-0.755735,0.164301
24,2024-11-25,98033.445312,98935.031250,92642.914062,93102.296875,80909462490,93102.296875,2024-11-25,Mon,0,...,88746.320312,92948.903373,63.411793,6165.783402,5945.606227,220.177174,0.029922,0.036206,0.143733,0.564616

# Time-Based Features

Since cryptocurrency markets exhibit weekly behavioral patterns, time features are added.

day_of_week
Encodes the weekday (Monday–Sunday) to capture cyclical effects.

weekend
Binary indicator (1 = weekend, 0 = weekday), as crypto markets behave differently on weekends.

In [48]:
# Time-Based Features

# Ensure 'date' column is in datetime format
btc["date"] = pd.to_datetime(btc["date"])
# day_of_week: Monday=0, Sunday=6
btc["day_of_week_num"] = btc["date"].dt.dayofweek  # numeric version if needed for modeling

# If you prefer string labels like 'Mon', 'Tue', ...
btc["day_of_week"] = btc["date"].dt.day_name()  # e.g., 'Monday', 'Tuesday', ...

# weekend indicator: 1 if Saturday or Sunday, else 0
btc["weekend"] = btc["day_of_week_num"].isin([5, 6]).astype(int)

eth["date"] = pd.to_datetime(eth["date"])
eth["day_of_week_num"] = eth["date"].dt.dayofweek  # numeric version if needed for modeling
eth["day_of_week"] = eth["date"].dt.day_name()  # e.g., 'Monday', 'Tuesday', ...
eth["weekend"] = eth["day_of_week_num"].isin([5, 6]).astype(int)

eth.head(25)

,Unnamed: 0,ETH.USD.Open,ETH.USD.High,ETH.USD.Low,ETH.USD.Close,ETH.USD.Volume,ETH.USD.Adjusted,date,day_of_week,weekend,...,EMA_12,RSI_14,MACD_line,MACD_signal,MACD_hist,volatility_7d,volatility_21d,volume_zscore,volume_change,day_of_week_num
0,2024-11-01,2515.870361,2583.777100,2467.819336,2511.885498,20215438328,2511.885498,2024-11-01,Friday,0,...,2511.885498,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,4
1,2024-11-02,2512.208252,2522.360596,2471.955566,2491.068604,9639457439,2491.068604,2024-11-02,Saturday,1,...,2508.682899,NaN,-1.660607,-0.332121,-1.328486,NaN,NaN,NaN,-0.523164,5
2,2024-11-03,2491.094482,2495.436523,2411.398438,2456.425293,15667779706,2456.425293,2024-11-03,Sunday,1,...,2500.643267,NaN,-5.706297,-1.406957,-4.299340,NaN,NaN,NaN,0.625380,6
3,2024-11-04,2456.095215,2488.350342,2359.578125,2397.026367,17110200696,2397.026367,2024-11-04,Monday,0,...,2484.702206,NaN,-13.549344,-3.835434,-9.713910,NaN,NaN,NaN,0.092063,0
4,2024-11-05,2397.036377,2478.618896,2380.601318,2422.650635,17894057485,2422.650635,2024-11-05,Tuesday,0,...,2475.155810,NaN,-17.495672,-6.567482,-10.928190,NaN,NaN,NaN,0.045812,1
5,2024-11-06,2422.539307,2743.964111,2421.812988,2724.169189,41887574364,2724.169189,2024-11-06,Wednesday,0,...,2513.465561,NaN,3.664619,-4.521061,8.185681,NaN,NaN,NaN,1.340865,2
6,2024-11-07,2724.005859,2918.744385,2701.590820,2895.585449,35352318438,2895.585449,2024-11-07,Thursday,0,...,2572.253236,NaN,33.875664,3.158284,30.717380,NaN,NaN,NaN,-0.156019,3
7,2024-11-08,2895.597900,2983.744873,2889.484375,2962.296631,32303261101,2962.296631,2024-11-08,Friday,0,...,2632.259912,NaN,62.480928,15.022813,47.458116,0.052566,NaN,NaN,-0.086248,4
8,2024-11-09,2962.791016,3156.366211,2957.182373,3131.144531,29210133088,3131.144531,2024-11-09,Saturday,1,...,2709.011392,NaN,97.649775,31.548205,66.101570,0.051464,NaN,NaN,-0.095753,5
9,2024-11-10,3130.729248,3249.914062,3073.248779,3191.331299,47418730187,3191.331299,2024-11-10,Sunday,1,...,2783.214455,NaN,128.892121,51.016988,77.875132,0.047677,NaN,NaN,0.623366,6
10,2024-11-11,3191.656982,3389.529297,3109.769531,3374.812988,55417771668,3374.812988,2024-11-11,Monday,0,...,2874.229614,NaN,166.537602,74.121111,92.416491,0.038799,NaN,NaN,0.168689,0
11,2024-11-12,3375.154785,3444.154053,3211.198486,3246.257324,56686078066,3246.257324,2024-11-12,Tuesday,0,...,2931.464646,NaN,183.878907,96.072670,87.806237,0.049958,NaN,NaN,0.022886,1
12,2024-11-13,3244.543213,3337.877197,3121.666016,3192.595947,52010205682,3192.595947,2024-11-13,Wednesday,0,...,2971.638692,NaN,191.089234,115.075983,76.013251,0.039257,NaN,NaN,-0.082487,2
13,2024-11-14,3192.520508,3240.270752,3032.971924,3058.948730,35743352141,3058.948730,2024-11-14,Thursday,0,...,2985.071006,NaN,183.899380,128.840662,55.058717,0.041658,NaN,NaN,-0.312763,3
14,2024-11-15,3059.526123,3130.703857,3016.144043,3103.040527,32701369872,3103.040527,2024-11-15,Friday,0,...,3003.220163,59.779524,179.687877,139.010105,40.677772,0.041286,NaN,NaN,-0.085106,4
15,2024-11-16,3089.739990,3218.089600,3073.286377,3133.273926,26650658846,3133.273926,2024-11-16,Saturday,1,...,3023.228434,60.981691,176.752323,146.558549,30.193774,0.035241,NaN,NaN,-0.185029,5
16,2024-11-17,3133.306641,3160.152588,3039.246826,3075.661621,28348163224,3075.661621,2024-11-17,Sunday,1,...,3031.295078,57.457363,167.842263,150.815292,17.026971,0.034798,NaN,NaN,0.063695,6
17,2024-11-18,3075.722900,3225.130615,3052.491211,3207.856445,35445557613,3207.856445,2024-11-18,Monday,0,...,3058.458366,62.773680,169.494170,154.551067,14.943103,0.030658,NaN,NaN,0.250365,0
18,2024-11-19,3208.250488,3222.004395,3070.362793,3111.384033,29823634432,3111.384033,2024-11-19,Tuesday,0,...,3066.600776,57.159948,161.161037,155.873061,5.287976,0.029419,NaN,NaN,-0.158607,1
19,2024-11-20,3111.116943,3159.949463,3032.603271,3072.187988,29785491216,3072.187988,2024-11-20,Wednesday,0,...,3067.460347,55.007562,149.668886,154.632226,-4.963340,0.029214,NaN,NaN,-0.001279,2
20,2024-11-21,3072.055176,3388.542969,3035.846680,3361.053955,51619069348,3361.053955,2024-11-21,Thursday,0,...,3112.628594,65.360045,162.002875,156.106356,5.896519,0.042741,NaN,1.348053,0.733027,3
21,2024-11-22,3360.654297,3428.460449,3262.808838,3331.600830,36775716442,3331.600830,2024-11-22,Friday,0,...,3146.316631,63.749397,167.470532,158.379191,9.091341,0.043619,0.044402,0.197616,-0.287556,4
22,2024-11-23,3331.645508,3499.370850,3317.654785,3396.223389,38835184688,3396.223389,2024-11-23,Saturday,1,...,3184.763824,65.744026,175.000890,161.703531,13.297359,0.043726,0.044103,0.273842,0.056001,5
23,2024-11-24,3396.999512,3451.802246,3288.430908,3363.659912,27901454185,3363.659912,2024-11-24,Sunday,1,...,3212.286299,63.837878,176.308774,164.624579,11.684194,0.042811,0.043968,-0.733436,-0.281542,6
24,2024-11-25,3364.601562,3545.278809,3304.093994,3413.543945,51544793988,3413.543945,2024-11-25,Monday,0,...,3243.249014,65.488616,179.303606,167.560385,11.743221,0.040872,0.043000,1.272202,0.847387,0

In [49]:
btc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        366 non-null    object
 1   BTC.USD.Open      366 non-null    float64
 2   BTC.USD.High      366 non-null    float64
 3   BTC.USD.Low       366 non-null    float64
 4   BTC.USD.Close     366 non-null    float64
 5   BTC.USD.Volume    366 non-null    int64
 6   BTC.USD.Adjusted  366 non-null    float64
 7   date              366 non-null    datetime64[ns]
 8   day_of_week       366 non-null    object
 9   weekend           366 non-null    int32
 10  daily_return      365 non-null    float64
 11  log_return        365 non-null    float64
 12  SMA_5             362 non-null    float64
 13  SMA_10            357 non-null    float64
 14  SMA_20            347 non-null    float64
 15  EMA_12            366 non-null    float64
 16  RSI_14            352 non-null    float64
 17  MACD_line         366 non-null    float64
 18  MACD_signal       366 non-null    float64
 19  MACD_hist         366 non-null    float64
 20  volatility_7d     359 non-null    float64
 21  volatility_21d    345 non-null    float64
 22  volume_zscore     346 non-null    float64
 23  volume_change     365 non-null    float64
 24  day_of_week_num   366 non-null    int32
dtypes: datetime64[ns](1), float64(19), int32(2), int64(1), object(2)
memory usage: 68.8+ KB

In [52]:
feature_cols = [
    "daily_return",
    "log_return",
    "SMA_5", "SMA_10", "SMA_20",
    "EMA_12", 
    "RSI_14",
    "MACD_line", "MACD_signal", "MACD_hist",
    "volatility_7d", "volatility_21d",
    "volume_zscore", "volume_change",
    # 如果你之後有情緒特徵，也可以加在這裡
    # "sentiment_mean", "news_count", "sentiment_z"
]
# Drop rows where any of the feature columns are NaN
btc_clean = btc.dropna(subset=feature_cols).copy()
eth_clean = eth.dropna(subset=feature_cols).copy()

In [53]:
# Export BTC features to CSV
btc_clean.to_csv(
    r"data\BTC_features.csv",
    index=False  # do not save the DataFrame index as a column
)

# Export ETH features to CSV
eth_clean.to_csv(
    r"data\ETH_features.csv",
    index=False
)