## Get Data

In [4]:
import yfinance as yf


data = yf.download("BTC-USD", start="2022-11-01", end="2025-11-01", auto_adjust=False)
data.columns = data.columns.droplevel(1)

#Check the first few rows

data.to_csv("BTC_3years.csv")
data

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2022-11-01,20485.273438,20485.273438,20647.289062,20359.845703,20494.898438,39819303159
2022-11-02,20159.503906,20159.503906,20742.810547,20087.134766,20482.958984,55552169483
2022-11-03,20209.988281,20209.988281,20382.095703,20086.240234,20162.689453,43228750179
2022-11-04,21147.230469,21147.230469,21209.560547,20188.019531,20208.769531,64072727950
2022-11-05,21282.691406,21282.691406,21446.886719,21097.634766,21144.832031,37846047609
...,...,...,...,...,...,...
2025-10-27,114119.328125,114119.328125,116273.312500,113882.289062,114479.851562,61761358733
2025-10-28,112956.164062,112956.164062,116078.984375,112291.679688,114129.085938,64528066504
2025-10-29,110055.304688,110055.304688,113642.726562,109368.718750,112921.328125,62192043469
2025-10-30,108305.546875,108305.546875,111612.351562,106376.687500,110059.195312,69673964814
2025-10-31,109556.164062,109556.164062,111031.820312,108288.273438,108304.414062,60090359560

In [5]:
data = yf.download("ETH-USD", start="2022-11-01", end="2025-11-01", auto_adjust=False)
data.columns = data.columns.droplevel(1)

#Check the first few rows

data.to_csv("ETH_3years.csv")
data

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2022-11-01,1579.704590,1579.704590,1606.605713,1568.098511,1572.645386,14507311208
2022-11-02,1519.711792,1519.711792,1613.410645,1507.244751,1579.497925,23254218281
2022-11-03,1531.541748,1531.541748,1556.759644,1517.101685,1519.724854,14248351007
2022-11-04,1645.093384,1645.093384,1661.334717,1529.268433,1531.397583,20806964347
2022-11-05,1627.968018,1627.968018,1660.486450,1625.964233,1645.156494,11006973190
...,...,...,...,...,...,...
2025-10-27,4120.122070,4120.122070,4250.669922,4099.569824,4158.010742,40271333201
2025-10-28,3982.262451,3982.262451,4173.505371,3940.834229,4120.274902,39684155177
2025-10-29,3903.353027,3903.353027,4036.353027,3849.538818,3980.759033,35255876156
2025-10-30,3804.375244,3804.375244,3948.222656,3681.909424,3903.322510,39981939289
2025-10-31,3847.080322,3847.080322,3900.580322,3797.669189,3805.082764,37800100395